body{
    background: white;
    color: black;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}
p{
    line-height: 1.6;
}

/* this means an this css will apply to every article tag except the first one*/
article + article{
    margin-top: 3rem;
    padding: 3rem;
    border-top: 1px solid #c5c5c5;
}